@model IEnumerable<EasyPlanv2.Models.Tbl_Historial>

@{
    ViewBag.Title = "Historial";
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}


<div class="card text-center">

    <div class="card-body">
        <img src="~/Content/logo.jpg" />
        <h5 class="card-title">History</h5>
   </div>
</div>

 
<table class="table table-dark" style="text-align:center">
    <tr>
        <th>
            Registry
        </th>
        <th>
            Date / Time
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Registro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha)
    </td>
</tr>
    }

</table>
