body {
    background-color: rgb(230, 236, 240) !important;
    overflow-y: scroll;
}

nav.navbar {
    padding: 0 !important;
    border-bottom: 1px solid rgb(101, 119, 134, 0.5);
}

    nav.navbar > .container {
        max-width: 1000px !important;
        padding: 0px 10px !important;
    }

ul.navbar-nav > li.nav-item > a.nav-link {
    width: 90px !important;
    height: 52.5px !important;
    line-height: 34.5px !important;
    text-align: center !important;
    border-bottom: 2px solid #fff;
    font-size: 15px !important;
}

ul.navbar-nav > li.active > a.nav-link {
    border-bottom-color: rgba(29,161,242,1.00);
}

ul.navbar-nav > li.nav-item > a.nav-link:hover {
    border-bottom-color: rgba(29,161,242,1.00);
}

ul.navbar-nav > li.nav-item > a.nav-link > svg {
    max-width: 100%;
    height: 1.640625rem;
    fill: rgb(101, 119, 134) !important;
}

ul.navbar-nav > li.active > a.nav-link > svg {
    max-width: 100%;
    height: 1.640625rem;
    fill: rgba(29,161,242,1.00) !important;
}

.search {
    background-color: rgba(101, 119, 134, 0.15) !important;
    font-family: Helvetica, sans-serif;
}

    .search:focus {
        box-shadow: none !important;
    }


/*    FORM*/


footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
    bottom: 0;
    color: #fff
}

.footer-navigation h3 {
    margin: 0;
    font: normal 36px Cookie, cursive;
    margin-bottom: 20px;
    color: #fff
}

    .footer-navigation h3 a {
        text-decoration: none;
        color: #fff
    }

    .footer-navigation h3 span {
        color: #5383d3
    }

.footer-navigation p.links a {
    color: #fff;
    text-decoration: none
}

.footer-navigation p.company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px
}

@media (max-width:767px) {
    .footer-contacts {
        margin: 30px 0
    }
}

.footer-contacts p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle
}

    .footer-contacts p a {
        color: #5383d3;
        text-decoration: none
    }

.fa.footer-contacts-icon {
    background-color: #33383b;
    color: #fff;
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px 10px 0
}

span.new-line-span {
    display: block;
    font-weight: normal;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2
}

.footer-about h4 {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px
}

.footer-about p {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0
}

div.social-links {
    margin-top: 20px;
    color: #fff
}

.social-links a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    margin-bottom: 5px
}

.footer {
    bottom: 0;
    position: relative
}
 


/*Login*/


@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
    margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

    #div-login-msg.success,
    #div-lost-msg.success,
    #div-register-msg.success {
        border: 1px solid #68c3a3;
        background-color: #c8f7c5;
    }

    #div-login-msg.error,
    #div-lost-msg.error,
    #div-register-msg.error {
        border: 1px solid #eb575b;
        background-color: #ffcad1;
    }

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

    #icon-login-msg.success,
    #icon-lost-msg.success,
    #icon-register-msg.success {
        background-color: #68c3a3 !important;
    }

    #icon-login-msg.error,
    #icon-lost-msg.error,
    #icon-register-msg.error {
        background-color: #eb575b !important;
    }

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
        outline: none;
    }

.btn-lg, .btn-group-lg > .btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

    .btn-link:hover, .btn-link:focus {
        color: #2c3e50;
        text-decoration: none;
    }

.glyphicon {
    top: 0px;
}

.form-control {
    border-radius: 0px;
}
